body {
  background-color: #f8f9fa;
}

.navbar {
  border-bottom: 5px solid orange;
}

.custom-footer {
  border-top: 5px solid orange;
  background: #181818;
}

.custom-footer div,
.custom-footer span {
  color: #fff;
}

.card i {
  margin-right: 8px;
}

.footer {
  background-color: #000000;
  color: #fff;
}

.footer a {
  color: #ccc;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.border-top-orange {
  border-top: 4px solid orange;
}

h1 span {
  font-weight: bold;
  color: #000;
}
.footer1 {
  background-color: #fafafa;
  color: #fff;
  padding: 10px 0;
}
.content {
  margin-bottom: 30px;
}
